
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Knewave|Shojumaru&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Knewave&display=swap');
@import url('https://fonts.googleapis.com/css?family=Knewave&display=swap');
* {
    
}
body {
    margin: 0;
    /* background-color: rgba(219, 217, 217, 0.2); */
}
body::after {
    background-image: url('../img/slice.jpg');
    background-size: cover;
    opacity: .4;
    z-index: -2;
}

ul.nav {
    margin: 0px;
    float: right;
}
li {
    font-family: 'Kalam', cursive;
    display: inline-block;
    /* float: left; */
    padding: 10px;
    font-size: 16px;
    line-height: 5px;
    text-align: center;
}
.logo {

    text-align: center;
}
.logo img {
    height: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.nav-link {
    color: rgb(241, 236, 236);
}
.nav-link:hover {
    color: rgb(233, 182, 15);
}
.header_info {
    background-color: rgba(3, 3, 3);
    height: 40px;
    margin: 0px;
    border-bottom: 2px solid rgb(236, 175, 62);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);
}
.center {
    background-image: url('../img/yellowslice.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

.welcome {
    /* text-align: center; */
    font-family: 'Knewave', cursive;
    /* background-color:rgba(235, 235, 235, 0.5) */
}
.left {
    text-align: center;
}
.left h1 {
    font-size: 100px;
    color: rgb(179, 0, 0)
}
.left h2 {
    font-size: 50px;
}
.left h2 span {
    font-size: 100px;
}
.right {
    text-align: right;
}
.footer {
    text-align: center;
    margin-top: 10px;
}
.info p {
    margin: 0px;
    padding: 0px;

}
.box {
    background-color: black;
    width: 200px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}


