*{
    margin:auto;
    padding:0px;
    font-family: sans-serif;
}
.wrapper{
    width: 970px;
    background-color: #c1682f;
    border-radius: 12px;
}
.header{
    margin-left: 12px;
    padding: 5px;
    text-align: center;
}
.pic{
    background: url(yellowslice.jpg);
}
h3{
    color: white;
}
.white{
    color: white;
}
.a{
    font: white;
}


.info{
    background: none;
    width: 970px;
    border-top: 1px solid gray;
    padding-top: 4px;
    padding-left: 43px;
    margin-left: 75px;
    margin-right: 185px;
    margin-top: 729px;
}
.info p{
    display: inline-block;
    border-right: gray;
}
.span{
    color:#647f36;
    margin-left:12px;
    margin-right: 12px;
}

.container {
    padding:20px 20px 0px;
    margin: 0 auto;
    width: 500px;
    border: 2px solid black;
    background: #c1682f;
    margin-top:20px;
    color: white;
}
.container h1 {
    color: #c1682f;
}

form {
    margin-bottom: 20px;
}