<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Login</h1>
    <form action="{{ url_for('users:login') }}" method="post">
        <br><input type="email" name="email" class='text-field' placeholder="Email">
        <br><input type="password" name="password" class='text-field' placeholder="Password">
        <br><input type="submit" class='submit-btn2' value="Login">
    </form>
</body>
</html>