<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
</head>
<body class="pic">
    <div class="wrapper">
        <h3 class="header">CRAFT-A-PIZZA</h3>
            <a href="{{ url_for('dashboard') }}">Home</a>

        <form action="{{ url_for('pizza:create') }}" method="post">
            <label for="method">Method</label>
            <select name="method" id="">
                <option value="delievery">Delievery</option>
                <option value="carryOut">Carry Out</option>
            </select>
            <label for="size">Size</label>
            <select name="size" id="">
                <option value="large">Large</option>
                <option value="medium">Medium</option>
                <option value="small">Small</option>
            </select>
            <label for="crust">Crust</label>
            <select name="crust" id="">
                <option value="thinCrust">Thin Crust</option>
                <option value="regular">Regular</option>
                <option value="thickCruck">ThickCrust</option>
            </select>
            <label for="qty">QTY</label>
            <input type="number" name="qty" id="" value="1"> 
            <input type="text" name="price" value="1.99" id="">
        </form>
    </div>
        <div>
            <h3>Toppings</h3>
            <div class="Toppings">
                <div>
                    <h3>Meats</h3>
                    <label for="toppings">Toppings</label>
                        <select name="meats" id="">
                            <option value="">Peperoni</option>
                            <option value="">Sausage</option>
                            <option value="">Chicken</option>
                            <option value="">Hamburger</option>
                            <option value="">Ham</option>
                            <option value="">Shredded BBQ Pork</option>
                            <option value="">Halibut</option>
                        </select>
                        <input type="submit" value="ADD TO ORDER">
                </div>
                <div>
                    <h3>Vegetables</h3>
                        <label for="toppings">Toppings</label>
                        <select name="veggies" id="veggies">
                            <option value="">Spinach</option>
                            <option value="">Artichoke</option>
                            <option value="">Redbell Peppers</option>
                            <option value="">Greenbell Peppers</option>
                            <option value="">Banana Peppers</option>
                            <option value=""> Red Onions</option>
                            <option value="">Tomatoes</option>
                            <option value="">Mushrooms</option>
                            <option value="">Olives</option>
                            <option value=""></option>
                        </select>
                        <input type="submit" value="ADD TO ORDER">
                </div>
                <div>
                    <h3>Cheeses</h3>
                    <label for="toppings">Cheese</label>
                        <select name="veggies" id="veggies">
                            <option value="">Mozzarella</option>
                            <option value="">Feta</option>
                            <option value="">Cheddar</option>
                            <option value="">Melted Cheddar</option>
                            <option value="">Gouda Cheese</option>
                            <option value="">Provolone</option>
                        </select>
                    <input type="submit" value="ADD TO ORDER">
                </div>
        </div>
            <!-- <input type="checkbox" name='topping' value="Peperoni">cheese
            <input type="checkbox" name='topping' value="Sausage">cheese
            <input type="checkbox" name='topping' value="Hamburger">cheese
            <input type="checkbox" name='topping' value="Ex-Cheese">cheese
            <input type="checkbox" name='topping' value="cheese">cheese
            <input type="checkbox" name='topping' value="cheese">cheese
            <input type="checkbox" name='topping' value="cheese">cheese
            <input type="checkbox" name='topping' value="cheese">cheese
            <input type="checkbox" name='topping' value="cheese">cheese
            <input type="checkbox" name='topping' value="cheese">cheese -->
        </form>
    </div>
    <div class="footer">
        <div class="info">
                <p>Any concerns or great feedback. Call toll Free (877) 339-5855</p>
                <a id="orders" href=""><span>feedback@pizzatime.com</span></a>
                <p>©2019 Iv_Ars_Heej Software</p>
        </div>
    </div>
</body>
</html>
