<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
</head>
<body>
    <h1>CRAFT-A-PIZZA</h1>
    <a href="{{ url_for('dashboard') }}">Home</a>
    <form action="{{ url_for('pizza:create') }}" method="post">
        <label for="method">Method</label>
        <select name="method" id="">
            {% for methods in method %}
            <option value="{{ method.id }}">{{ methods.method }}</option>
            {% endfor %}
        </select>
        <label for="size">Size</label>
        <select name="size" id="">
            {% for sizes in size %}
            <option value="{{ size.id }}">{{ sizes.size }}</option>
            {% endfor %}
        </select>
        <label for="crust">Crust</label>
        <select name="crust" id="">
            {% for crusts in crust %}
            <option value="{{ crust.id }}">{{ crusts.crust }}</option>
            {% endfor %}
        </select>
        <label for="qty">QTY</label>
        <input type="number" name="qty" id="" value="1"> 

        <label for="topping">Toppings</label>
            {% for toppings in topping_menu %}
        <input type="checkbox" name='topping' value="{{ topping_menu.id }}">{{ toppings.topping }} {{ toppings.price }}
            {% endfor %}


        <input type="submit" value="ADD TO ORDER">
    </form>
    
</body>
</html>
