<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
</head>
<body class="pic">
    <div class="wrapper">
        <h3>Make an Order!</h3>
        <div>
            <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('dashboard') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('order') }}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('users:account') }}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('users:logout') }}">logout</a>
                    </li>
        </div>
            <table>
                <thead>
                    <tr>
                        <th>Qty</th>
                        <th>Size</th>
                        <th>Crust</th>
                        <th>Toppings</th>
                        <th>Subtotal</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pizzas in pizza %}
                    <tr>
                        <th>{{ pizzas.qty }}</th>
                        <th>{{ pizzas.size }}</th>
                        <th>{{ pizzas.crust }}</th>
                        {% for toppings in topping %}
                        <th>{{ toppings.topping1 }} {{ toppings.topping2 }} {{ toppings.topping3 }}</th>
                        <a class="nav-link" href="/pizza/{{toppings.id}}/delete">Delete Topping</a>
                        <th>${{ pizzas.price + toppings.price }}</th>
                        {% endfor %}
                        <th><a class="nav-link" href="/order/{{pizzas.id}}/delete">Delete</a></th>

                        
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
    </div>


   
</body>
</html>