<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('create:random') }}" method="post">
        <input type="text" name="crust" id="" placeholder="crust">
        <input type="text" name="size" id="" placeholder="size">
        <input type="text" name="topping1" id="" placeholder="topping1">
        <input type="text" name="topping2" id="" placeholder="topping2">
        <input type="text" name="topping3" id="" placeholder="topping3">
        <input type="text" name="price" id="" placeholder="price">
        <input type="submit" value="Create">
    </form>

    <h1>random_pizza</h1>
    {% for random_pizza in random %}
       
       <h1>{{ random_pizza.size }}</h1>
       <h1>{{ random_pizza.crust }}</h1>
       <h1>{{ random_pizza.topping1 }}</h1>
       <h1>{{ random_pizza.topping2 }}</h1>
       <h1>{{ random_pizza.topping3 }}</h1>
       <h1>{{ random_pizza.price }}</h1>
    {% endfor %}

</body>
</html>